.dark-controls {
  .slideshow.slideshow--bullets {
    .slideshow__thumbs ul li a:after {
       border: 2px solid rgba(0, 0, 0, 0.8);
    }

    .slideshow__slides li:hover {
      cursor: pointer;
    }

    .slideshow__controls a {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 20px;

      &:hover {
        background-color: #000;
      }
    }
  }
}


.contact-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  background: url('/img/artwork/contact-cover-large-1400x900.jpg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;

  @media screen and (max-width: 900px) {
    display: none;
    background: none;
  }
}