<!-- Address -->
<div class="cover-screen">

	<!-- Box -->
	<div class="box box--contact white">

		<div class="details">

			<table>
				<tr>
					<th>Büro:</th>
					<td>Güntherstraße 88, 22087 Hamburg</td>
				</tr>
				<tr>
					<th>Telefon:</th>
					<td>+49-175-6668932</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>ole.schiesser@googlemail.com</td>
				</tr>
			</table>

			<hr>

      <p>Für Anfragen zu den Motiven nutzen Sie bitte das unten stehende Formular. Individuelle Wünsche sind problemlos realisierbar. Ich melde mich schnellstmöglich bei Ihnen. Vielen Dank!</p>

			<hr>

			<form action="#" method="post" id="contact_form">

				<input type="text" name="name" placeholder="Ihr Name">
				<input type="email" name="email" placeholder="Ihre Email">
				<textarea name="message" placeholder="Ihre Nachricht an mich"></textarea>

				<input type="submit" value="Abschicken" class="button">
				<p class="form__status"></p>

			</form>

			<hr>

		</div>
	</div>

	<div class="contact-cover">
	</div>


</div>