<!-- Address -->
<div class="cover-screen">

	<!-- Box -->
	<div class="box box--contact white">

		<div class="details">

			<table>
				<tr>
					<th>Büro:</th>
					<td>Güntherstraße 88, 22087 Hamburg</td>
				</tr>
				<tr>
					<th>Telefon:</th>
					<td>+49-175-6668932</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>ole.schiesser@googlemail.com</td>
				</tr>
			</table>

      <hr>

      <h3 style="color: #444;">Represented by</h3>

      <p>
        <strong style="color: #444;">PAM - Mirjam Böhm</strong></br>
        </br>
        An der Alster 85</br>
        D-20099 Hamburg / Germany</br>
        </br>
        T +49 (0)40 - 28 455 229</br>
        F +49 (0)40 - 28 455 429</br>
        E <a href="mailto:info@pam-hamburg.de?subject=Kontaktanfrage Ole Schiesser">info@pam-hamburg.de</a></br>
        <a href="http://www.pam-hamburg.de" target="_blank">www.pam-hamburg.de</a>
      </p>

			<hr>

      <p>Für Anfragen zu den Motiven nutzen Sie bitte das unten stehende Formular. Individuelle Wünsche sind problemlos realisierbar. Ich melde mich schnellstmöglich bei Ihnen. Vielen Dank!</p>

			<form action="#" method="post" id="contact_form">

				<input type="text" name="name" placeholder="Ihr Name">
				<input type="email" name="email" placeholder="Ihre Email">
				<textarea name="message" placeholder="Ihre Nachricht an mich"></textarea>

				<input type="submit" value="Abschicken" class="button">
				<p class="form__status"></p>

			</form>

			<hr>

		</div>
	</div>

	<div class="contact-cover">
	</div>


</div>