<!-- Address -->
<div class="cover-screen">

	<!-- Box -->
	<div class="box box--contact white">

		<div class="details">

		<h2>
			<img src="img/logo_black.png" style="height:42px;" alt="Showlight">
		</h2>

		<hr>

			<table>
				<tr>
					<th>Büro:</th>
					<td>Güntherstraße 88, 21000 Hamburg</td>
				</tr>
				<tr>
					<th>Telefon:</th>
					<td>+49-123-4567890</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>ole.schiesser@googlemail.com</td>
				</tr>
			</table>

			<hr>

			<p>Nehmen Sie gerne mit mir Kontakt über das unten stehende Formular auf. Ich melde mich schnellstmöglich bei Ihnen. Vielen Dank!</p>

			<hr>

			<form action="#" method="post" id="contact_form">

				<input type="text" name="name" placeholder="Ihr Name">
				<input type="email" name="email" placeholder="Ihre Email">
				<textarea name="message" placeholder="Ihre Nachricht an mich"></textarea>

				<input type="submit" value="Abschicken" class="button">
				<p class="form__status"></p>

			</form>

			<hr>

		</div>
	</div>

	<div class="contact-cover">
	</div>


</div>